:root{
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --primary: #515ad3;
    --secondary: #45e7df;
    --fontTitle: 'Playfair Display', serif;
    --fontParg:  'Nunito', sans-serif;
    --fontmain:  "Roboto", sans-serif;
}
li{
    list-style: none;
}
.sidebar{
    width: 17.125rem;
    height: 100vh;
}
.sidebar .logo_sidebar{
    font-size: 1.5rem;
    font-family: var(--fontTitle);
}
.sidebar .logo_sidebar::after{
    content: "";
    position: absolute;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    box-shadow: 1px 1px 1px 1px #000000;
}
.logo_sidebar > span{
    font-size: .5rem;
}
